* {
    box-sizing: border-box;
    transition: 0.5s;
}

html {
    background-color: #111;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-color: #111;
}

.divVideo {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
}

#myVideo {
    width: 100%;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.blur {
    filter: blur(10px);
    transform: scale(1.1);
}

#app {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    /* background-color: #111; */
}

.info-area {
    position: fixed;
    bottom: 0;
    background: #00000080;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.info-area-small {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
}

.btn {
    width: 50px;
    font-size: 18px;
    padding: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: transparent;
}

.btn:hover {
    transform: scale(1.1);
    z-index: 1;
}

.btn-group {
    position: relative;
    margin-top: 35px;
}

.btn-play {
    width: 50px;
    color: #ffffff;
    bottom: -12px;
    position: absolute;
    left: 30px;
}

.btn-next {
    width: 30px;
    color: #ffffff;
    bottom: -12px;
    position: absolute;
    left: 80px;
}

.btn-previous {
    width: 30px;
    color: #ffffff;
    bottom: -12px;
    position: absolute;
    left: 0px;
}

.btn-fullscreen {
    bottom: 0;
    width: 50px;
    color: #ffffff;
}

.btn-search {
    height: 44px;
    transform: translateY(4px);
    width: 40px;
    padding-top: 7px;
}

.btn-search:hover {
    transform: translateY(4px);
}

.btn-search:focus {
    border-color: transparent;
}

.mdi {
    font-size: 1.5rem;
}

.row {
    display: flex;
}

.left {
    flex: 2%;
    padding: 15px 0;
}

.left h2 {
    padding-left: 8px;
}

.right {
    flex: 65%;
}

#sVideoName {
    min-width: 150px;
    width: 75%;
    font-size: 18px;
    padding: 10px;
    margin: 1px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
}

.menu-area {
    position: absolute;
    height: 70%;
    box-shadow: 0 4px 2px -2px #888;
}

#myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

#myMenu li a:hover {
    background-color: #eee;
}

.menu {
    color: #ffffff;
    height: 100%;
    padding-left: 3px;
    /* background-color: #000; */
    z-index: 1;
    font-size: 1.5rem;
}
.menu:hover {
    background-color: #000;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px #008cba80;
    cursor: pointer;
}

.thumbnail {
    width: 200px;
}

.title-thumbnail {
    background-color: #1e1d1d;
    color: #888;
    padding: 10px 0px 10px 0px;
    /* box-shadow: 0px -5px #1e1d1d; */
}

.white-text {
    color: white;
}

.bg-black {
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1e1d1d;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-button {
    background-color: #555;
}


/* ------ SLIDE MENU -------- */

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}


.center {
    margin: auto;
}

.font-size-1rem {
    font-size: 1rem;
}

.margin-left-30 {
    margin-left: 30px;
}

.text-shadow {
    text-shadow: black 2px 2px 5px;
}

.title-link {
    color: white;
    text-decoration: none;
}

.btn-small {
    width: 25px;
}

.btn-big {
    width: 30px;
}

.rotate-right-90-no-scale {
    transform: rotate(90deg) translateY(-10vw) !important;
}

.rotate-right-90-scale {
    transform: rotate(90deg) scale(0.5) !important;
}

.translateY-25 {
    transform: translateY(-25vh);
}

.scale-15 {
    transform: scale(1.5);
}

.margin-left-35px {
    margin-left: 35px;
}

.transition-5s {
    transition: 5s;
}

.gradient-text {
    background: -webkit-linear-gradient(#0011f6, #ff00cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.loading {
    color: #b639c7;
}

.evideo>img {
    /* filter: blur(1px); */
}

.ui-menu {
    background-color: red;
    width: 152px;
    padding: 15px 0px 10px 10px;
    border-left: 1px solid #777;
    border-bottom: 1px solid #777;
    border-right: 1px solid #777;
    border-radius: 3px;
    background-color: #000000a8;
    color: white;
    font-weight: bold;
}

.ui-menu li div {
    padding-bottom: 10px;
}

.ui-menu li div:hover {
    color: #c569e4;
    cursor: pointer;
    padding-left: 5px;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.div-new:hover > * {
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
}

.img-text-centered {
    position: absolute;
    bottom: -8%;
    width: 95%;
    border-radius: 3px;
    background-color: #0000009c;
    color: #a0a0a0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-text-bottom {
    position: absolute;
    bottom: 0%;
    width: 95%;
    border-radius: 3px;
    background-color: #0000009c;
    color: #a0a0a0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container:hover>.img-text-centered {
    /* background-color: #a0a0a09c; */
    color: #fff;
    background-color: #000000c6;
    /* text-shadow: black 2px 2px 5px; */
}

.ads-area {
    background: url("./ads-background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 380px;
    margin-bottom: 10px;
    background-color: #960512;
    box-shadow: 0px 0px 6px 5px #000000b0;
}


/* Create two equal columns that floats next to each other */
.div-column {
    float: left;
    width: 50%;
    padding: 10px;
}
.div-column-noscollbar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Clear floats after the columns */
.div-row:after {
    content: "";
    display: table;
    clear: both;
}

.div-row>div>p:hover {
    color: #5e0000;
}

.div-row>div>p {
    padding-left:10px;
}
.div-new {
    /* max-height: 250px; */
}

.display-block {
    display: block !important;
}
.settingPanel {
    /* position: fixed;
    bottom: 0;
    background: #00000080;
    color: #f1f1f1;
    width: 100%;
    padding: 20px; */
}








/* MOD W3S CSS */
.w3-modal {
    padding: 10px;
}

.w3-modal-content {
    width: 100%;
}

.w3-large {
    font-size: 38px;
}

.w3-teal,
.w3-hover-teal:hover {
    color: #e9e9e9;
    background-color: #1c1c1c !important;
}

.w3-teal:hover {
    color: #e9e9e9;
    background-color: #270000 !important;
}